.contact {
    width: 50%;
    display: flex;
    height: 350px;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto;
    background-image: url("https://images.pexels.com/photos/28219391/pexels-photo-28219391/free-photo-of-the-dolomites-in-italy.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.serviceInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.serviceTitle {
    font-size: 32px;
    margin: 10px 0;
}

.nameAndMail {
    display: flex;
    margin: 10px 0;
    flex-direction: row;
}

.numberContent,
.infoInputs div div {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.inputLabel {
    padding-left: 10px;
    margin-bottom: 5px;
    color: rgb(61, 58, 58);
}

.inputBox {
    padding: 10px;
    border-radius: 10px;
    margin: 0px 10px;
    width: 250px;
    border: 1px solid gray;
}

.serviceDropdown {
    padding: 10px;
    border-radius: 10px;
    margin: 0px 10px;
    width: 270px;
}

.btn {
    padding: 10px;
    margin: 10px 10px;
    border-radius: 10px;
    border: 1px solid grey;
    cursor: pointer;
    background-color: antiquewhite;
}